

.bg-ing1 {
background-color: #000; 
background-size: cover; 
background-image: url(...);
}
.bg-ing2 {
background-color: #000;
background-size: cover;
background-image: url(...);
}
.bg-ing3 {
background-color: #000;
background-size: cover;
background-image: url(...);
}
